*{
    box-sizing:border-box;
  }
.container {
  display: flex;
  flex-direction: row;
}
.column {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: calc(100%/3 - 20px)
}

.container .column:not(:first-child){
  margin-left: 10px;
}

.column img:not(:first-child){
  margin-top: 10px;
}